<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="public/assets/css/burger_style.css" type="text/css" />
<title>Burgers!</title>
<head>
	<meta charset="UTF-8">
		
		<title>MVC With Burgers!</title>

		<div class="jumbotron jumbotron-fluid bg-info text-center">
  			<div class="container">
    			<h1 class="display-4">Burgers!</h1>
    			<p class="lead">Eat all the burgers !</p>
  			</div>
		</div>

	</head>
	<body class="bg-light">
		{{{ body }}}
    </body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/cats.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
</html>